.Carousel {
/* Set rules to fill background */
min-height: 50%;
min-width: auto;
  
/* Set up proportionate scaling */
width: auto;
height: 50%;
  
/* Set up positioning */
position: absolute;
top: 0;
left: 0;
margin-left: 56px;
    /* position: relative; */
    /* height: 968px; */
}

.Carousel img {
    
    object-fit: cover;
    
}