#content_window {
    height: 100%;
    position:absolute;
    background-color: whitesmoke;
}

#sidebar_footerIcon{
    align-self: baseline;
    bottom: 0;
}

#sidebar_iconWhite{
    color: darkgreen !important
}



#iconBottom{
    bottom: 0;
    position: fixed;
}

