body {
    background-size: cover;
    background-image: url('../../Resources/orchard.jpg') ;
    position: relative;
    top:0;
    left:0;
    }
.div-background{
  background-image: url('../../Resources/orchard.jpg') !important;
  background-size: cover;
  background-repeat:no-repeat;
}
.home_carddecks {
  position: absolute;
  top: 50%;
}
.base_card {
  background-color: rgb(74, 124, 8);
  border-bottom: rgb(74, 124, 8);
}
.home_cardtitle {
  background-color: rgb(74, 124, 8);
  text-decoration-line: underline;
  margin-bottom: 0 !important;
}
.home_cardbody {
  font-weight: bolder;
  list-style: circle;
  color: rgb(17, 17, 17);
  border-bottom: rgb(74, 124, 8);
  background-color: rgb(74, 124, 8);
  padding-top: 0 !important;
  /* colors of cards themselves */
}
.toast {

}
