#content_window {
    height: 100%;
    position:absolute;
    background-color: white;
}

#sidebar_iconGreen{
    color: darkgreen !important
}

#sidebar_iconGreen_User{
    color: darkgreen !important
}
