.background-img {
    /* Set up positioning */
    background-size: cover;
    background-image: url('../../Resources/field.jpg') ;
    position: relative;
}

#content_window {
    height: 100%;
    position: relative;
    background-color: white;
}

#sidebar_iconGreen{
    color: darkgreen !important
}

#icon_Brown{
    color: saddlebrown !important;
}