.background-img {

    /* Set up positioning */
    position: fixed;
    top:0;
    left:0;
    margin-left: 56px;
     
    }


body {
    background-color: rgb(211, 211, 211);
    /* change color of background */
}

.cardcolumns {
    margin-left: 60px;
    /* move to right of navbar */
}

.card {
    color: rgb(17, 17, 17);
    background-color: whitesmoke;
    opacity: 0.5;
    /* colors of cards themselves */
}
