body {
    /* Set a background color that will be displayed
   while the background image is loading */
   background-color: #464646;
   }

   
.background-img {

    /* Set up positioning */
    position: fixed;
    top:0;
    left:0;
    margin-left: 56px;
     
    }

h2{
    position: absolute;
    top: 200px; 
    left: 0; 
    width: 100%; 
    
}
h2 span {
    color: white; 
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.4);
    padding: 10px; 

}
h3{
    position:absolute;
    top:250px;
    left:10;
    width:100%;

}
h3 span{

    color: white; 
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.4);
    padding: 10px; 
}

h4{
    position: absolute;
    
    top:350px;
    left:10;
    right:50;
    width:100%;

}
h4 span{

    color: white; 
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.4);
    padding: 10px; 
}
 
