.background-img {

    /* Set up positioning */
    position: fixed;
    top:0;
    left:0;
    margin-left: 56px;
    opacity: 0.5;
    }


body {
    background-color: rgb(211, 211, 211);
    /* change color of background */
}

.cardcolumns {
    margin-left: 60px;
    /* move to right of navbar */
}

.card {
    color: rgb(17, 17, 17);
    background-color: whitesmoke;
    opacity: 1;
    /* colors of cards themselves */
}
.mt-0 {
    margin-top: 130px !important;
  }
  .jumbotron{
      margin-left: 56px !important;
      opacity: 1;
  }