.background-img {
    /* Set up positioning */
    object-fit: cover;
    top:0;
    left:0;
    margin-left: 56px;
    opacity: 0.5;
    }

#register_container{
    position: relative;
    width: 150%;
    height: 100%;
    right: 30%;
}

.centerRegisterBox{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#darkGreenButton{
    background-color: darkgreen !important;
    border-color:darkgreen;
    color: white;
}

#loginButton{
    margin-left: 10px;
}

.marginLeft{
    margin-left: 100px !important;
    margin-right: 100px ;
    background-size: cover;
}

