.background-img {
    /* Set up positioning */
    object-fit: cover;
    top:0;
    left:0;
    opacity: 0.5;
    }

.formMargins {
    margin-left: 100px !important;
    margin-right: 100px;
    color: darkgreen;
}

.centerForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_register{
    background-color: darkgreen;
    color: whitesmoke;
    margin-right: 10px;
}

.jumbo_clr {
    background-color: whitesmoke;
}
