.background-img {

    /* Set up positioning */
    object-fit: cover;
    top:0;
    left:0;
    margin-left: 56px;
    opacity: 0.5;
    }
#register_container{
    position: fixed;
    width: 25%;
    height: 35%;
    margin-top: 15%;
    margin-left: 40%;
    background-color: grey;
    border-color: black !important;
}


#loginPadding{
    padding: 150px;
}

#darkGreenButton{
    background-color: darkgreen !important;
    border-color:darkgreen;
    color: white;
}

#registerButton{
    margin-left: 10px;
}

.marginLeft{
    margin-left: 100px !important;
    margin-right: 100px;
    background-size: cover;
}