body {
    background-color: lightgray;
    /* change color of background */
}

div.content  {
    margin-left: 55px;
}

.cardStyle {
    object-fit: cover;
    object-position: top left;
    height: 400px;
    width: 200px;
}