body {
    background-color: lightgray;
    /* change color of background */
}

.cardcolumns {
    margin-left: 60px;
    /* move to right of navbar */
}

.card {
    color: darkgreen;
    background-color: whitesmoke;
    /* colors of cards themselves */
}
