#loginBox{
    background-color: white;
}



#darkGreenButton{
    background-color: darkgreen !important;
    border-color:darkgreen;
    color: white
}

#registerButton{
    margin-left: 10px;
}

.centerLoginBox{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#login_container{
    position: relative;
    width: 150%;
    height: 100%;
    right: 30%;
}

#divElement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}​

html, body, .container {
    height: 100%;
}