#divElement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

html, body, .container {
    height: 100%;
}

.formMargins {
    margin-left: 100px !important;
    margin-right: 100px;
    color: darkgreen;
}

.centerForm{
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn_submit{
    background-color: darkgreen;
    color: whitesmoke;
    margin-right: 10px;
}

.jumbo_clr {
    background-color: whitesmoke;
    margin: 0 0 0 0;
    width: 500px ;
}
.divider
{
    position: relative;
    margin-top: 20px;
    margin-bottom: 15px;
    height: 1px;
}
.div-transparent:before
{
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
.padding{
    padding-bottom: 5px;
}
.form-group.col{
    width: auto;
}
.prices{
    background-color: white;
    height: 180px;
    width: 300px;
    transform: translateX(560px) translateY(-300px);
}



