#divElement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
body {
    background-size: cover;
    background-image: url('../../Resources/orchard.jpg') ;
    position: relative;
    top:0;
    left:0;
}
.centerForm{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_submit{
    background-color: darkgreen;
    color: whitesmoke;
    margin-right: 10px;
}
.btn_review {
    color: white;
    background-color: darkgreen;
    margin-right: 10px;
}
.jumbo_clr.jumbotron {
    background-color: #343A40 !important;
    color: lightgreen;
    margin: 0 0 0 0;
    width: 500px ;
    opacity: 100%;
}
.form-label{
    color: lightgreen;
}
.divider
{
    position: relative;
    margin-top: 20px;
    margin-bottom: 15px;
    height: 1px;
    color: lightgreen;
    background-color: lightgreen;
}
.padding{
    padding-bottom: 5px;
}
.form-group.col{
    width: auto;
}
#TicketLogIn{
    color: lightgreen ;
    border-color: lightgreen;
}
#TicketLogIn.btn:hover{
    border-color: #fbe1a5;
    color: #fbe1a5
}
#TicketLogIn.btn:active{
    border-color: #fbe1a5;
    color: #fbe1a5
}
#TicketLogIn.btn-primary:not(:disabled):not(.disabled):active{
    background-color: transparent;
    border-color: #fbe1a5;
    color: #fbe1a5
}
#TicketLogIn.btn-primary:not(:disabled):not(.disabled):focus{
    background-color: transparent;
    color: lightgreen;
    border-color: lightgreen;
    box-shadow: none;
}
.padding-top{
    padding-top: 20px;
}


